---
- hosts: localhost
  vars:
    datagrip_version: 2016.2.3
  tasks:
  - stat: path=/opt/jetbrains/downloads/DataGrip-{{ datagrip_version}}.tar.gz
    register: datagrip_downloaded
  - name: Create /opt/jetbrains/downloads/
    file: path=/opt/jetbrains/downloads/ state=directory owner=fedora group=fedora mode=0755
    become: true
    become_user: root
  - name: Create /opt/jetbrains/datagrip/
    file: path=/opt/jetbrains/datagrip/ state=directory owner=fedora group=fedora mode=0755
    become: true
    become_user: root
  - name: download datagrip
    get_url:
      url: https://download-cf.jetbrains.com/datagrip/datagrip-{{ datagrip_version }}.tar.gz
      dest: /opt/jetbrains/downloads/DataGrip-{{ datagrip_version}}.tar.gz
    when: datagrip_downloaded.stat.exists == False
  - name: extract datagrip
    shell: "tar xzf /opt/jetbrains/downloads/DataGrip-{{ datagrip_version}}.tar.gz -C /opt/jetbrains/datagrip --strip-components=1"
    become: true
    become_user: root
  - name: Create symlink for datagrip
    file: src=/opt/jetbrains/datagrip/bin/datagrip.sh dest=/usr/local/bin/datagrip state=link
    become: true
    become_user: root

