---
- hosts: localhost
  tasks:
  - name: system update
    dnf: name=* state=latest
    become: true
    become_user: root
  - name: install extra packages
    dnf: pkg={{item}} state=installed
    with_items:
      - htop
      - vim
      - wget
      - git
      - libselinux-python
    become: true
    become_user: root
